name: Build and Deploy FastAPI to Azure

on:
  push:
    branches:
      - deploy

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        working-directory: my_backend
        run: |
          pip install -r requirements.txt

      - name: Zip artifact
        working-directory: my_backend
        run: |
          zip -r ../app.zip .

      - name: Deploy to Azure
        uses: azure/webapps-deploy@v3
        with:
          app-name: inventory-test-app-55891
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_F093D813D2014D8AABE268EF5384488C }}
          package: app.zip
